<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %>  Lesson№2</title>
</head>
<body>
    <header><%= htmlWebpackPlugin.options.header %><a href="#" class="headers__item basket">Корзина</a></header>

    <%= htmlWebpackPlugin.options.nameshop %>

    <%= htmlWebpackPlugin.options.blocproduct %>
    

    <%= htmlWebpackPlugin.options.footer %>
</body>
</html>

